:root {
  // COLORS
  --color-text: #000;
  --color-primary: #ffafcc;
  --color-primary-500: #ffafcc;
  --color-primary-600: #c7899f;
  --color-primary-700: #916575;
  --color-primary-800: #5f444d;
  --color-primary-900: #312429;

  --color-secondary: #cdb4db;
  --color-secondary-600: #a08dab;
  --color-secondary-700: #76687d;
  --color-secondary-800: #4e4552;
  --color-secondary-900: #29252b;

  --color-brown: #4b3329;

  // FONTS
  --font-family: 'Roboto Slab', serif;
}
