.button {
  border-radius: 18px;
  padding: 1rem 1.5rem;
  font-family: var(--font-family-heading);
  font-weight: 700;
  outline: none;
  border: none;
  transition: all 0.25s ease-out;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-brown);
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &--primary {
    @extend .button;
    background-color: var(--color-primary);
    color: var(--color-primary-800);
    border-bottom: 5px solid var(--color-primary-600);

    &:hover {
      background-color: var(--color-primary-600);
      color: #fff;
      border-color: var(--color-primary-700);
    }
  }

  &--accent {
    @extend .button;
    background-color: var(--color-accent);
    color: var(--color-accent-900);
    border-bottom: 5px solid var(--color-accent-600);

    &:hover {
      background-color: var(--color-accent-600);
      color: #fff;
      border-color: var(--color-accent-700);
    }
  }

  &--success {
    @extend .button;
    background-color: #b4dbbd;
    color: #000;
    border-bottom: 5px solid #85a28c;
  }

  &--link {
    @extend .button;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
