.button {
  border-radius: 18px;
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-family: var(--font-family);
  outline: none;
  border: none;
  transition: all 0.25s ease-out;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-brown);
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;

  &--primary {
    @extend .button;
    background-color: var(--color-primary);
    color: var(--color-primary-800);
    border-bottom: 5px solid var(--color-primary-600);

    &:hover {
      background-color: var(--color-primary-600);
      color: #fff;
      border-color: var(--color-primary-700);
    }
  }

  &--secondary {
    @extend .button;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-bottom: 5px solid var(--color-secondary-600);

    &:hover {
      background-color: var(--color-secondary-600);
      color: var(--color-text);
      border-color: var(--color-secondary-700);
    }
  }

  &--link {
    @extend .button;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
