:root {
  // COLORS
  --color-text: #000;

  --color-primary-50: #f8f7f4;
  --color-primary: #ebe9df;
  --color-primary-500: #ebe9df;
  --color-primary-600: #b7b6ae;
  --color-primary-700: #86857f;
  --color-primary-800: #585754;
  --color-primary-900: #2d2d2b;

  --color-accent: #ffafcc;
  --color-accent-500: #ffafcc;
  --color-accent-600: #c7899f;
  --color-accent-700: #916575;
  --color-accent-800: #5f444d;
  --color-accent-900: #312429;

  --color-brown: #4b3329;

  // FONTS
  --font-family: 'Roboto Slab', serif;

  // LAYOUT
  --header-height: calc(60px + 2rem);
  --container-padding: 24px;
}
