:root {
  // COLORS
  --color-text: #000;

  --color-primary: #ffafcc;
  --color-primary-500: #ffafcc;
  --color-primary-600: #c7899f;
  --color-primary-700: #916575;
  --color-primary-800: #5f444d;
  --color-primary-900: #312429;

  --color-secondary: #ffafcc;
  --color-secondary-500: #ffafcc;
  --color-secondary-600: #c7899f;
  --color-secondary-700: #916575;
  --color-secondary-800: #5f444d;
  --color-secondary-900: #312429;

  --color-brown: #4b3329;

  // FONTS
  --font-family: 'Roboto Slab', serif;

  // LAYOUT
  --header-height: calc(70px + 2rem);
  --container-padding: 24px;
}
