html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--color-text);
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

b,
strong {
  font-family: var(--font-family);
  font-weight: 700;
}

.container {
  @include container;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.wrapper {
  min-height: 100vh;
}

.main-wrapper {
  padding-bottom: 2rem;
  min-height: 80vh;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.notification {
  border-radius: 18px;
  padding: 2rem 2.5rem;

  @include breakpoint-down(md) {
    padding: 2rem 1.5rem;
  }
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: var(--color-primary-50);
  border: 1px solid var(--color-primary);

  & > *:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
}

section,
article {
  padding: 3rem 0;

  // @include breakpoint-down(sm) {
  //   &:not(:last-child) {
  //     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //   }
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #272727;
  font-family: var(--font-family-heading);
  font-weight: 500;
}

h1.title {
  font-size: 2rem;
}

.icon {
  color: var(--color-primary);
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  vertical-align: text-bottom;
}

.divider-list {
  display: flex;
  flex-direction: column;

  li {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.img-text {
  display: flex;
  flex-direction: row;
  gap: 0 5rem;

  &__img {
    max-height: 100%;
    width: 40%;
    border-radius: 18px;
    object-fit: cover;
  }

  &__text {
    flex: 1;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @include breakpoint-down(md) {
    flex-direction: column;
    &__img {
      width: 100%;
      max-height: 60vh;
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    @include breakpoint-down(md) {
      flex-direction: column;
    }
  }
}

.blockquote {
  font-weight: 300;
  font-size: 1.25rem;
  border-left: 4px solid black;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
