@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'buttons';

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  @include container;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.wrapper {
  min-height: 100vh;
}

.main-wrapper {
  padding-bottom: 2rem;
  min-height: 80vh;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.notification {
  border-radius: 18px;
  padding: 2rem 2.5rem;
  border: 1px solid var(--color-primary);
  background-color: rgba(0, 0, 0, 0.03);

  & > *:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
}

section {
  padding: 3rem 0;

  @include breakpoint-down(sm) {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1.title {
  font-size: 2rem;
}

.icon {
  color: var(--color-primary);
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  vertical-align: text-bottom;
}

.divider-list {
  display: flex;
  flex-direction: column;

  li {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
